@font-face {
  font-family: 'Super Mystery';
  src: url('SuperMystery-BLG4x.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #C1DDD3;
  }

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px #827E80;
  background-color: #C1DDD3;
  margin: 0;
  padding: 0;
  }

.logo {
  font-family: 'Super Mystery', serif;
  text-align: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #4C3F54;
}

.nav {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  }

.nav a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #4C3F54;
  }

.socials {
  list-style-type: none;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  display: flex; 
  }

.socials a {
  display: block;
  padding: 14px 16px;
  }

.socials img {
  max-width: 24px;
  max-height: 24px;
  }
  
.container {
  background-color: #C1DDD3;
  margin: 0;
  padding: 0;
  }

.hero {
  width: 100%;
  padding: 0 40px;
  }

.hero h1 {
  font-family: 'Super Mystery', serif;
  text-align: left;
  display: block;
  padding: 28px 16px;
  text-decoration: none;
  color: #4C3F54;
  margin-bottom: 0px;
  }

.hero p {
  max-width: 500px;
  padding: 14px 10px;
  margin: 0 auto 0 0;
  margin-bottom: 21.440px;
  }

@media (max-width: 768px) {
  .hero p,
  .Artist-Statement {
    width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}

.Collection-header h2 {
  text-align: left;
  display: block;
  margin: 0;
  padding: 14px 16px;
  text-decoration: none;
  color: #4C3F54;
}

.Collection-subheader h3 {
  text-align: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #4C3F54;
}

.Artist-Statement {
  max-width: 500px;
  padding: 14px 16px;
  margin: 0 auto 0 0;
  margin-bottom: 21.440px;
  }

/* wrapper for arrows + grid */
.carousel-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px #827E80;
  background-color: #A2CCBD;
  margin-bottom: 35.44px;
  padding: 0;
}

/* horizontal scrolling row */
.grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 0;
}

/* cards */
.card {
  max-width: 200px;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card img {
  width: 180px;
  height: auto;
  display: block;
}

.card h4 {
  margin: 10px 0 5px;
}

.card p {
  margin: 0;
}

/* arrows */
.scroll-left,
.scroll-right {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #4C3F54;
}
  
  
  
